@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    font-family: "latoregular", sans-serif;
    width: 1020px;
    margin: 0 auto; 
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/* header */

header {
    font-family: "latobold", sans-serif;      
    background-color: #2d303a;    
    box-shadow: 0px 6px #323746;
    position: relative;
    z-index: 1;
    min-height: 89px;
    display: flex;
    align-items: center;
}

header .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;     
}

header a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.header__logo {
    position: relative;
}

.logo_text {    
    text-transform: uppercase;   
    font-size: 25px;    
    line-height: 25px;    
    display: inline-block;
    letter-spacing: -0.5px;
}

.logo_sign { 
    font-size: 25px; 
    line-height: 6px;    
    color: #f06c64;
    display: block;
    position: absolute;
    top: 9px;
    right: -10px; 
}

.navigation {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 371px; 
    letter-spacing: -0.3px;     
}

.navigation li {       
    list-style: none;
    font-size: 12px;    
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    padding: 10px 14px 0px;
}

.navigation li:first-child {
    padding-left: 0px;
}

.navigation li:last-child {
    padding-right: 0px;
}

.link_selected {
    color: #f06c64;
}

.navigation li > a:hover {
    color: #f06c64;
    text-decoration: underline;
    transition: all 0.4s ease-out;
}

/* section banner */

.banner {    
    position: relative;    
    background-color: #f06c64;
    box-shadow: 0px 6px #ea676b;
}

.banner .wrapper {
    position: relative;        
    padding: 59px 71px 58px 72px;
}

.banner__image {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.banner__image figure {    
    position: relative;
}

figure img {
    display: block;
}

figure img:last-child {
    position: absolute;
    top: 0;
    left: 0;
}

figure img:first-child {
    opacity: .15;
}

.image_right {
    align-self: center;
}

.banner__nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    left: 0;
    top: 287px;    
    color: #ca4549;
}

.banner__nav:hover {
    cursor: pointer;
}

/* section services */

.services {
    background-color: #f2f2f2; 
    box-shadow: inset 0px -6px #fff;   
}

.services .wrapper {    
    padding: 75px 0px 66px;
}

.services h2 { 
    font-family: "latoblack", sans-serif;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    margin-bottom: 27px;
}

.services__descr {
    font-family: "latolight", sans-serif;
    color: #767e9e;    
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 45px;
    text-align: justify;
}

.layout-3-column {
    display: flex;
    flex-flow: row wrap;
}

.services__item:nth-child(1) {
    background: url(assets/img/pen.png) no-repeat;
}

.services__item:nth-child(2) {
    background: url(assets/img/lamp.png) no-repeat;
}

.services__item:nth-child(3) {
    background: url(assets/img/heart.png) no-repeat;
}

.services__item:nth-child(4) {
    background: url(assets/img/phone.png) no-repeat;
}

.services__item:nth-child(5) {
    background: url(assets/img/support.png) no-repeat;
}

.services__item:nth-child(6) {
    background: url(assets/img/star.png) no-repeat;
}

.layout-3-column .services__item {
    display: flex;
    max-width: 300px;
    margin-bottom: 28px;
    margin-right: 20px;
    background-position: 0px 1px;
    padding-left: 80px;
}

.services__item:nth-child(4),
.services__item:nth-child(5),
.services__item:nth-child(6) {
    margin-bottom: 0px;
}

.services__item:nth-child(3n) {
    margin-right: 0px;
}

.item__content h3 {
    font-family: "latoblack", sans-serif;
    color: #666d89;
    font-size: 18px;
    line-height: 18px;    
    margin-bottom: 10px;
}

.item__content p {
    color: #767e9e;
    font-size: 12px;
    line-height: 22px;   
    text-align: justify;
}